USERNAME=admin
PASSWORD=password
BASE_URL=http://127.0.0.1:9400
ELEMENTS_REGRESSION_BASE_URL=http://localhost:8889

LLM_TEST_BASE_URL=http://localhost:8888
ANGIE_PRODUCTION_URL=x
ANGIE_SERVICE_ACCOUNT_EMAIL=x
ANGIE_SIDEBAR_STATE=x
ELEMENTOR_USER_ID=0
ANGIE_SERVICE_ACCOUNT_SECRET=x
ANGIE_SERVICE_ACCOUNT_TOKEN=x
ANGIE_SERVICE_ACCOUNT_USER_ID=0
WP_USERNAME=admin
WP_PASSWORD=password
NEXT_PUBLIC_OAUTH2_CLIENT_ID_V2=x
NEXT_PUBLIC_OAUTH2_AUTH_ENDPOINT=x


