??? from here until ???END lines may have been inserted/deleted
USERNAME=admin
PASSWORD=password
BASE_URL=http://127.0.0.1:9400
ELEMENTS_REGRESSION_BASE_URL=http://localhost:8889

LLM_TEST_BASE_URL=http://127.0.0.1:8888
ANGIE_PRODUCTION_URL=https://angie.stg.elementor.red/angie/wp-admin
ANGIE_SERVICE_ACCOUNT_EMAIL=x
ANGIE_SIDEBAR_STATE=open
ELEMENTOR_USER_ID=x
ANGIE_SERVICE_ACCOUNT_SECRET=x
ANGIE_SERVICE_ACCOUNT_TOKEN=x
ANGIE_SERVICE_ACCOUNT_USER_ID=x
WP_USERNAME=x
WP_PASSWORD=x
NEXT_PUBLIC_OAUTH2_CLIENT_ID_V2=ccaffce1-dd03-4384-991f-93748f76a7eb
NEXT_PUBLIC_OAUTH2_AUTH_ENDPOINT=https://my.stg.elementor.red/connect/v1/oauth2/auth
