{% set classes = [base_styles.base] | merge(settings.classes | default([])) | join(' ') %}
<div class="{{ classes }}" data-interaction-id="{{ id }}" data-e-type="atomic-background-video" {{ settings.attributes }}>
	<video style="min-width: 100%; min-height: 100%; position: absolute; z-index: -1;"
		{% if settings.autoplay %}autoplay{% endif %}
		{% if settings.mute %}muted{% endif %}
		{% if settings.loop %}loop{% endif %}
		<source src="{{ settings.source.url | e('full_url') }}">
	</video>
  <!-- elementor-children-placeholder -->
</div>
